$dark-blue: #301C57;
$color-text: #131344;
$white: #fff;

$lite-gray: #F5F5F7;
$orange: #EA5F00;
$transparent: transparent;


$desktop-width: 1150px;
$laptop-width: 1000px;
$ipad-width: 800px;
$tablet-width: 768px;
$mobile-width: 560px;
$phone-width: 430px;
